img{
    height: 480px;
    width: 500px;
}
body{
    height: 1000px;
    width: 1000px;
}
span.a{
    background-color: aqua;
    padding: 5%;
}
span.b{
    background-color:gold;
    padding: 5%;
}
span.c{
    background-color:lightgreen;
    padding: 5%;
}