div{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
    margin-bottom: 30%;
}
form{
   
    padding: 40px;
    background-color: rgb(95, 209, 95);
}
.radio{
    margin-left: 50px;
}
button{
    width: 100%;
    padding: 10px;
    color:red;
    background-color: yellow;
    border: yellow;
}
fieldset{
    background-color:skyblue;
}
body{
    background-color: rgb(141, 51, 51);
}
    
